[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm
[submodule "glad"]
	path = libs/glad
	url = https://github.com/printfdebugging/glad
[submodule "unicode"]
	path = libs/unicode
	url = https://github.com/printfdebugging/unicode
[submodule "harfbuzz"]
	path = libs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "stb"]
	path = libs/stb
	url = https://github.com/printfdebugging/stb
